CompileFlags:
  Add:
    - -std=c++20
    - -Ibuild/vcpkg_installed/x64-windows/include
    - -Ibuild/vcpkg_installed/x64-windows/include/opencv4
    - -D_DEBUG
---
If:
  PathMatch: Controller/.*
CompileFlags:
  Add:
    - -Ibuild/Controller/dependencies/include
    - -IController/include
    - -include pch.hpp