.columns {
  display: flex;
  gap: 10px;
}

.column {
  flex: 1;
}

.import {
    position: fixed;
    display: inline-block;
    bottom: 20px;
    right: 200px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.import:hover {
    background-color: #0056b3;
}
.export {
    content: "导出配置文件";
    position: fixed;
    bottom: 20px;
    right: 100px;
    padding: 10px 20px;
    background-color: #34ad34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.export:hover {
    background-color: #208a00;
}
